Package: xfce4-desktop-service
Version: 0.1.0-alpha1
Maintainer: Thomas Castleman <contact@draugeros.org>
Section: xfce
Architecture: all
Priority: optional
Depends: python3, python3-dbus, xdg-utils, libglib2.0-bin, xfdesktop4, gir1.2-gtk-3.0 (>=3.24.12-1ubuntu1), python3-magic
Breaks: thunar
Description: Use whatever file manager you want with Xfce
 This package provides a file manager service for Xfce, in a way that does not require Thunar to be installed.
 This way, users can use whatever file manager they prefer with Xfce.
 .
 This package is a third-party package and is not maintained by the Xfce developers.
