[Desktop Entry]
Name=Xfce4 Desktop Service
Comment=Desktop Interaction Services for Xfce
Version=1.0
Exec=/usr/share/xfce4-desktop-service/autostart.py
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Accessibility;System;Utility;
