[Desktop Entry]
Name=xfce4-desktop-service
Version=1.0
Exec=/usr/share/xfce4-desktop-service/autostart.py
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Accessibility;System;Utility;
